# Standard ignores
*.pyc
__pycache__/
*.pyo
*.pyd
*.DS_Store
*.swp
*.swo
.env
.venv
build/
dist/
.eggs/
*.egg-info/
*.log
*.bak
*.tmp

# Project-specific ignores
*.fusion_cache
*.harmonic_sim
.secret_config
node_modules/
.idea/
.vscode/
.cache/
